.form-required
{
    color: inherit;
}

input[type=text],
input[type=email],
input[type=password]
{
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    font-size: 1.25em;
    border: 1px solid green;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25) inset;
}

textarea
{
    box-sizing: border-box;
    height: 120px;
    line-height: 1.1;
    padding: 0 5px;
    font-size: 1.15em;
    border: 1px solid green;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25) inset;
}

label
{
    font-size: 1.15em;
    color: $green;
}

input[type=button],
input[type=submit],
button
{
    @include aaronbold();
    font-size: inherit;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    position: relative;
    background: linear-gradient(to bottom, #068e57, #02794a);
    box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    border: 0;
    padding: 0 24px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input.form-checkbox,
input.form-radio
{
  vertical-align: top;
  margin-top: 5px;
}
label.option
{
  vertical-align: top;
}

.webform-client-form-18
{
  input, textarea
  {
    max-width: none;
  }
  .form-item
  {
    width: 48%;
    float: left;
    margin-top: 0;
    
    &:nth-child(2n+1)
    {
      margin-right: 4%;
      clear: left;
    }
  }
  .form-radios
  {
    .form-item
    {
      width: auto;
      float: none;
      margin-right: 0;
    }
  }
  #trip-dates-wrapper
  {
    float: left;
    width: 48%;
    margin-right: 4%;

    &
    {
      @media (max-width: 480px)
      {
        float: none;
        width: auto;
        margin-right: 0;
      }
    }

    .form-item
    {
      float: none;
      width: auto;
    }
  }
  .form-actions
  {
    clear: both;
  }
}
