body
{
    font-size: 16px;
    line-height: 1.4;
}

a
{
    color: $green;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    padding-bottom: 0.25em;
}
h1
{
    font-size: 36px;
    font-weight: bold;
}
h2
{
    margin-bottom: 0.8em;
}

p
{
    margin-bottom: 0.8em;
    
    &:last-child
    {
        margin-bottom: 0;
    }
}

hr
{
    border: 0;
    height: 1px;
    margin: 30px 0;
    background: #b2b2b2;
}

ul, ol
{
    margin: 0 0 1em 0;
    padding-left: 30px;
}

.page-wrapper
{
    position: relative;
    padding-top: 80px;
}

.main-wrapper
{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    
    & > div
    {
        padding: 40px 20px;
    }
    
    img
    {
        max-width: 100%;
        height: auto !important;
    }
    .image-align-left
    {
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .image-align-right
    {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .image-align-left,
    .image-align-right
    {
        @media (max-width: 760px)
        {
            float: none !important;
            display: block;
            margin: 0 auto 40px auto;
            max-width: 88%;
        }
    }
    iframe
    {
        max-width: 100%;
        display: block;
    }
}

.navigation
{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 101;
    
    &:after
    {
        content :"";
        display: block;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        height: 40px;
        z-index: 101;
        background: $green;
        background: linear-gradient(to bottom, #269868, #068e57);
        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.3), 0 0px 3px rgba(0,0,0,0.05) inset;
    }
    
    & > div
    {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        
        & > div
        {
            padding: 0 20px;
        }
    }
}
.navbar-fixed
{
  .navigation
  {
    top: 39px;
  }
  &.navbar-horizontal.navbar-tray-open .navigation
  {
    top: 80px;
  }
  &.navbar-vertical.navbar-tray-open .navigation
  {
    left: 240px;
    right: 0;
    width: auto;
  }
}

.logo
{
    float: left;
    display: block;
    padding-top: 10px;
    position: relative;
    z-index: 102;
    margin-right: 24px;

    img
    {
        display: block;
        height: 80px;
        width: auto;
    }
}

.btn-menu
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    color: transparent;
    height: 40px;
    width: 50px;
    background: url(../img/icon-menu-green.svg) no-repeat center center;
    background-size: 25px auto;
    z-index: 1002;
    
    &.open,
    &:after
    {
        background-image: url(../img/icon-menu-white.svg);
        -webkit-filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.2));
        filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.2));
    }
    &:after
    {
        content: "";
        display: block;
        position: absolute;
        left: -99999px;
    }
}
.top-menu-mobile
{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    
    li
    {
        list-style: none;
        float: left;
        padding: 0 5px;
    }
    
    .fb a,
    .cart a
    {
        @include aaronbold();
        display: block;
        height: 40px;
        min-width: 28px;
        line-height: 40px;
        color: $green;
        background-repeat: no-repeat;
        font-size: 0;
        
        .alt
        {
            font-size: 0;
        }
        .count
        {
            display: inline-block;
            padding-left: 30px;
            font-size: 16px;
        }
    }
    .cart a
    {
        background-image: url(../img/cart.svg);
        background-size: 29px 23px;
        background-position: left center;
    }
    .fb a
    {
        background-image: url(../img/fb-black.svg);
        background-size: 26px 26px;
        background-position: center center;
    }
}

#block-menu-menu-top-menu
{
    float: right;
    
    ul.menu
    {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
        }
        a
        {
            display: block;
            line-height: 40px;
            padding: 0 13px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            border-color: #f1f1f1;
            border-style: solid;
            border-width: 0 1px;
            font-weight: 700;
            margin-left: -1px;
            
            &:hover, &:focus
            {
                color: white;
                background-color: #02794a;
                text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
            }
        }
        .fb a,
        .cart a,
        .search a
        {
            font-size: 0;
            height: 40px;
            min-width: 28px;
            background-repeat: no-repeat;
            
            &:before
            {
                content: "";
                display: block;
                position: absolute;
                left: -999999px;
            }
            
            .alt
            {
                font-size: 0;
            }
            .count
            {
                display: inline-block;
                padding-left: 30px;
                font-size: 16px;
            }
        }
        .cart a
        {
            background-image: url(../img/cart.svg);
            background-position: 16px center;
            
            &:hover, &:focus, &:before
            {
                background-image: url(../img/cart-white.svg);
            }
        }
        .fb a
        {
            background-image: url(../img/fb-black.svg);
            background-position: center center;
            background-size: 20px 20px;
            
            &:hover, &:focus, &:before
            {
                background-image: url(../img/fb-white.svg);
            }
        }
        .search a
        {
          font-size: 0;
          
          background-image: url(../img/icon-search-black.svg);
          background-position: center center;
          
          &:hover, &:focus, &:before
          {
              background-image: url(../img/icon-search-white.svg);
          }
        }
    }
}

#block-system-main-menu .content
{
    clear: right;
    color: white;
    padding-left: 210px;
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nolink
    {
        opacity: 0.7;
    }
    
    
    & > ul > li
    {
        float: left;
        width: 33%;
        border-right: 1px solid #409f75;
        border-left: 1px solid #3b926c;
        
        & > a
        {
            display: block;
            color: white;
            line-height: 40px;
            height: 40px;
            position: relative;
            z-index: 102;
            padding: 0;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
            text-align: center;

            &:hover
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
            }
        }
        &.expanded > a:after
        {
            content: "";
            background: url('../img/icon-main-menu-arrow.svg') no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            margin-left: 8px;
            margin-top: -2px;
            display: inline-block;
            width: 15px;
            height: 8px;
            filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.4));
        }
        
        & > ul
        {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 35px 10%;
            background-color: #f3f3f3;
            column-count: 4;
            column-gap: 40px;

            &
            {
                @media (max-width: 1000px)
                {
                    column-count: 3;
                }
            }

            &:after
            {
                content: "";
                display: block;
                width: 100%;
                padding-bottom: 50%;
                height: auto;
                background: url("../img/main-menu-photo.jpg") no-repeat top left;
                background-size: contain;
                break-inside: avoid;
            }

            & > li
            {
                display: block;
                margin-bottom: 25px;
                break-inside: avoid;

                & > a
                {
                    color: black;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover
                    {
                        color: $green;
                    }
                }
                & > ul
                {
                    margin-left: 20px;

                    & > li
                    {
                        display: block;
                        margin-bottom: 4px;

                        & > a
                        {
                            color: black;
                            text-decoration: none;

                            &:hover
                            {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
        &:hover > ul,
        &.open > ul
        {
            display: block;
        }
        
        
        &.first
        {
            border-left: 0;
        }
        &.last
        {
            border-right: 0;
        }
    }
}


.main-wrapper
{
    clear: both;
}

.footer
{
    padding-top: 80px;
    background-image: url(../img/bg-curve.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    position: relative;

    .not-front &
    {
        clear: both;
    }

    &
    {
        @media (max-width: 760px)
        {
            background-size: 250% 150%;
            background-position: bottom center;
        }
    }
    
    & > div
    {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        
        & > div
        {
            padding: 20px;
        }
    }
    
    a
    {
        color: white;
    }
}
#block-menu-menu-footer-menu .content
{
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 25px;

    &:after
    {
        content: "";
        display: block;
        clear: both;
    }
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        float: left;
        border-right: 1.5px solid white;
        line-height: 1;

        &:last-child
        {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
        }
    }
    a
    {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;

        &:hover
        {
            text-decoration: underline;
        }
    }
    .fb
    {
        float: right;
        margin: 0;
        padding: 0;
        border: 0;
        
        a
        {
            font-size: 0;
            width: 18px;
            height: 18px;
            background: url(../img/fb-white.svg) no-repeat center center;
            background-size: contain;
        }
    }
}
.block.footer-info
{
    text-align: right;
    line-height: 1.2;
    margin-bottom: 30px;

    &
    {
        @media (max-width: 760px)
        {
            text-align: center;
        }
    }
    
    &:after
    {
        content: "";
        display: block;
        clear: both;
    }
    
    .logo-otools
    {
        float: left;
        margin-right: 20px;
        height: 180px;
        width: auto;

        @media (max-width: 760px)
        {
            float: none;
            display: block;
            width: 80%;
            max-width: 320px;
            height: auto;
            margin: 0 auto 25px auto;
        }
    }
    .logo-club-car
    {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        height: 110px;
        width: auto;

        @media (max-width: 760px)
        {
            float: none;
            display: block;
            width: 80%;
            max-width: 260px;
            height: auto;
            margin: 0 auto 25px auto;
        }
    }
    p
    {
        clear: right;

        span
        {
            display: inline-block;
        }
    }
    a
    {
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }
}

body.path-rentals,
body.path-carts,
body.path-parts,
body.path-about
{
    .page-title
    {
        display: none;
    }
}
.block-menu.menu-terms,
#edit-field-feature-category-tid-wrapper
{
    overflow: hidden;
    
    & > h2,
    & > label
    {
        @include aaronbold();
        float: left;
        color: $green;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 32px;
        
        &:after
        {
            content: "-";
            padding-left: 8px;
        }
        
        a
        {
            color: $green;
            text-decoration: none;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    & > label:after
    {
        padding: 0 8px 0 0;
    }
    .content,
    .views-widget
    {
        @include aaronbold();
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li,
        .form-type-bef-link
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            
            &.first.active-trail
            {
                margin-left: 8px;
            }
        }
        a
        {
            color: $green;
            text-decoration: none;
            line-height: 16px;
            padding: 8px 12px;
            display: block;
            vertical-align: bottom;
            
            &:hover
            {
                text-decoration: underline;
            }
            &.active-trail
            {
                background: #02794a;
                background: linear-gradient(to bottom, #068e57, #02794a);
                color: white;
            }
        }
    }
}

.menu-terms-dropdown
{
    float: left;
    margin-right: 20px;
    width: 182px;
    position: relative;
    z-index: 1;
    
    h2
    {
        @include aaronbold();
        display: inline-block;
        
        a
        {
            color: $green;
            text-decoration: none;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    .content
    {
        ul
        {
            margin-left: 0;
            list-style: none;
            margin: 0;
        }
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0.9em;
            border-bottom: 1px solid $green;
        }
        a
        {
            display: block;
            padding: 7px 6px;
            color: $green;
            text-decoration: none;
            font-weight: bold;
            line-height: 1;
        }
        a:hover,
        .active-trail a
        {
            background: $green;
            background: linear-gradient(to bottom, #068e57, #037a4b);
            color: white;
        }
        .select-category
        {
            display: none;
            
            a
            {
                background: url(../img/arrow-down.svg) no-repeat 93% center !important;
                padding-right: 32px;
            }
        }
        .open .select-category a
        {
            background: url(../img/arrow-up.svg) no-repeat 93% center !important;
        }
    }
}
.node-type-page .menu-terms-dropdown + #block-system-main
{
  overflow: hidden;
}

.related-items-container,
.recently-viewed-container
{
    overflow: hidden;
    
    &:before
    {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
    }
    &:after
    {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
    }
    
    h2
    {
        @include aaronbold();
        font-weight: normal;
        color: $green;
        font-size: 1.25em;
        padding-left: 16px;
    }
}
.recently-viewed-container:before
{
  display: none;
}

.views-exposed-form .views-exposed-widget
{
    float: none;
    padding: 0;
}

.block.cart-quote
{
    display: none;
    overflow: hidden;
    clear: both;
    
    h2
    {
        display: none;
    }
    
    &:before
    {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 50%;
        margin-top: -30px;
        background: linear-gradient(to bottom, #068e57, #02794a);
        box-shadow: 0 -3px 4px rgba(0,0,0,0.2);
    }
    
    .content
    {
        position: relative;
        z-index: 1;
    }
    
    fieldset
    {
        border: 0;
        padding: 0;
        float: left;
        margin-bottom: 0;
        margin-right: 30px;
    }
    label
    {
        @include aaronbold();
        font-weight: normal;
        font-size: 0.9em;
        color: white;
        padding-bottom: 4px;
        text-shadow: -1px 2px 3px rgba(0,0,0,0.2);
    }
    .form-required
    {
        display: none;
    }
    textarea,
    input
    {
        width: 230px;
        box-sizing: content-box;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5) inset;
        border: 0;
        font-size: 0.9em;
        
    }
    textarea
    {
        height: 85px;
        padding: 10px;
        resize: none;
    }
    input
    {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
    .form-item
    {
        margin-top: 0;
    }
    .form-actions input
    {
        @include aaronbold();
        display: block;
        color: white;
        background: $green;
        background: linear-gradient(to bottom, #068e57, #02794a);
        border: 0;
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.9em;
        cursor: pointer;
        text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
        box-shadow: -1px 1px 2px rgba(0,91,55,0.5);
        border-radius: 2px;
        -webkit-appearance: none;
        appearance: none;
        
        &:hover
        {
            background: #02794a;
        }
    }
}

body.path-contact .main-wrapper
{
    .page-title
    {
        display: none;
    }
}

.field-name-field-event-photos,
.field-name-field-golf-cart-photos
{
  position: relative;
  margin: 0 35px;
  
  & > div
  {
    max-width: 640px;
    margin: 0 auto;
  }
  
  .slick-prev, .slick-next
  {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35px;
    background: transparent url(../img/arrow-left.svg) no-repeat left center;
    background-size: 30px auto;
    font-size: 0;
    padding: 0;
    box-shadow: none;
  }
  .slick-prev
  {
    left: -35px;
  }
  .slick-next
  {
    right: -35px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  img
  {
      width: 100%;
      height: auto;
      display: block;
  }
}

.gmap
{
    width: 620px;
    max-width: 100%;
    height: 330px;
}

.navigation .search-form
{
    display: none;
    max-width: 452px;
    position: absolute;
    top: 0;
    z-index: 102;
    right: 56px;
    width: 100%;
    margin: 0;
    
    &:after
    {
      content: "";
      display: block;
      clear: both;
    }
    
    h2
    {
      padding-bottom: 0;
    }
    .form-type-textfield
    {
        float: left;
        width: 70%;
        margin: 0;
        
        input
        {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          height: 59px;
          line-height: 59px;
        }
        label
        {
          position: absolute;
          left: -999999px;
        }
    }
    input[type=submit]
    {
        float: left;
        width: 30%;
        padding: 0;
        height: 59px;
        line-height: 59px;
        box-shadow: none;
    }
}
body.path-search .page-title
{
  display: none;
}

.item-list .pager
{
  li
  {
    margin: 0 0 0.25em 0;
  }
  .pager-ellipsis
  {
    display: none;
  }
}

.basic-page-header-image
{  
  img
  {
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
  }
}

.listing-header
{
  overflow: hidden;
}
.node-type-parts,
.node-type-rental
{
  .listing-header
  {
    display: none;
  }
}

.node-basic-page-2-column
{
  .field-name-body
  {
    float: left;
    width: 61%;
    margin-right: 4%;
    
    @media screen and (max-width: 860px)
    {
      float: none;
      width: auto;
      margin-right: 0;
      margin-bottom: 0.8em;
    }
  }
  .field-name-field-right-sidebar
  {
    float: right;
    width: 35%;
    
    @media screen and (max-width: 860px)
    {
      float: none;
      width: auto;
    }
  }
}

.rentals-carts,
.rentals-equipment
{
  width: 48%;
  float: left;
  background: $green;
  border: 2px solid $green;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(28,28,28,0.2);
  
  &
  {
    @media screen and (max-width: 540px)
    {
      width: 100%;
      float: none;
      margin-bottom: 1.5em;
      margin-right: 0;
    }
  }
  
  a
  {
    color: white;
    text-decoration: none;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
  img
  {
    display: block;
    width: 100%;
    height: auto;
  }
  span
  {
    @include aaronbold();
    display: block;
    padding: 25px 15px;
    text-align: center;
    font-size: 1.5em;
    background: linear-gradient(#068e57, $green);
  }
}
.rentals-carts
{
  margin-right: 4%;
}

#block-system-main{
  td, th
  {
    padding: 4px;
  }
}

.block--breadcrumbs
{
    margin-bottom: 40px;

    .content
    {
        color: $green;
        font-size: 14px;

        a
        {
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}

.block--page-header
{
    .bg-container
    {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 100px 25px;
        position: relative;

        &:before
        {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.25;
        }
    }
    h1
    {
        color: white;
        text-align: center;
        font-size: 56px;
        font-weight: bold;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.55);
        position: relative;
        z-index: 1;
    }
}

.block--contact-map
{
    clear: both;
    margin-bottom: -20%;
    position: relative;

    &:after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 12px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0));
    }

    .map
    {
        padding-bottom: 45%;
        background: url(../img/contact-map.jpg) no-repeat center center;
        background-size: cover;
    }
}

.path-about .main-wrapper ul
{
    overflow: hidden;
}

.about-team
{
    position: relative;

    &:before
    {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        border-right: 1px solid #b2b2b2;
    }
    &:after
    {
        content: "";
        display: block;
        clear: both;
    }
    .left
    {
        float: left;
        width: 46%;
        margin-right: 8%;
    }
    .right
    {
        float: left;
        width: 46%;
    }
    &
    {
        @media (max-width: 760px)
        {
            &:before
            {
                display: none;
            }
            .left
            {
                float: none;
                width: auto;
                margin-right: 0;
                margin-bottom: 1.5em;
            }
            .right
            {
                float: none;
                width: auto;
            }
        }
    }
}
