body
{
    font-size: 16px;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6
{
    @include aaronbold();
    font-weight: normal;
    color: $green;
    padding-bottom: 0.25em;
}

p
{
    margin-bottom: 0.8em;
    
    &:last-child
    {
        margin-bottom: 0;
    }
}

hr
{
    border: 0;
    height: 1px;
    margin: 20px 0;
    background: linear-gradient(to right, rgba(16,144,92,0), #10905c, rgba(16,144,92,0));
}

.page-wrapper
{
    overflow: hidden;
    position: relative;
}

.main-wrapper
{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
    & > div
    {
        padding: 20px;
    }
}

.navigation
{
    position: relative;
    height: 156px;
    
    &:after
    {
        content :"";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 97px;
        z-index: 1;
        background: $green;
        background: linear-gradient(to bottom, #269868, #068e57);
        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.3), 0 0px 3px rgba(0,0,0,0.05) inset;
    }
    
    & > div
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        
        & > div
        {
            padding: 0 20px;
        }
    }
}

.logo
{
    float: left;
    display: block;
    padding: 11px 0;
    position: relative;
    z-index: 2;
    margin-right: 24px;
}

.btn-menu
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    color: transparent;
    height: 50px;
    width: 60px;
    background: url(../img/icon-menu-green.svg) no-repeat center center;
    z-index: 1002;
    
    &.open,
    &:after
    {
        background-image: url(../img/icon-menu-white.svg);
        -webkit-filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.2));
        filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.2));
    }
    &:after
    {
        content: "";
        display: block;
        position: absolute;
        left: -99999px;
    }
}
.top-menu-mobile
{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    
    li
    {
        list-style: none;
        float: left;
        padding: 0 5px;
    }
    
    .fb a,
    .cart a
    {
        @include aaronbold();
        display: block;
        height: 49px;
        min-width: 28px;
        line-height: 49px;
        color: $green;
        background-repeat: no-repeat;
        font-size: 0;
        
        .alt
        {
            font-size: 0;
        }
        .count
        {
            display: inline-block;
            padding-left: 30px;
            font-size: 16px;
        }
    }
    .cart a
    {
        background-image: url(../img/cart.svg);
        background-size: 29px 23px;
        background-position: left center;
    }
    .fb a
    {
        background-image: url(../img/fb.svg);
        background-size: 26px 26px;
        background-position: center center;
    }
}

#block-menu-menu-top-menu
{
    @include aaronbold();
    position: absolute;
    top: 0;
    right: 0;
    
    ul.menu
    {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
        }
        a
        {
            display: block;
            line-height: 59px;
            padding: 0 13px;
            text-decoration: none;
            color: $green;
            font-size: 0.9em;
            border-color: #f1f1f1;
            border-style: solid;
            border-width: 0 1px;
            margin-right: -1px;
            
            &:hover, &:focus
            {
                color: white;
                background-color: #02794a;
                text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
            }
        }
        .fb a,
        .cart a
        {
            font-size: 0;
            height: 59px;
            min-width: 28px;
            background-repeat: no-repeat;
            
            &:before
            {
                content: "";
                display: block;
                position: absolute;
                left: -999999px;
            }
            
            .alt
            {
                font-size: 0;
            }
            .count
            {
                display: inline-block;
                padding-left: 30px;
                font-size: 16px;
            }
        }
        .cart a
        {
            background-image: url(../img/cart.svg);
            background-position: 16px center;
            
            &:hover, &:focus, &:before
            {
                background-image: url(../img/cart-white.svg);
            }
        }
        .fb a
        {
            background-image: url(../img/fb.svg);
            background-position: center center;
            
            &:hover, &:focus, &:before
            {
                background-image: url(../img/fb-white.svg);
            }
        }
    }
}

#block-system-main-menu .content
{
    @include aaronbold();
    clear: right;
    color: white;
    padding-top: 59px;
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a
    {
        display: block;
        color: white;
        text-decoration: none;
        
        &:hover
        {
            text-decoration: underline;
        }
    }
    .nolink
    {
        opacity: 0.7;
    }
    
    
    & > ul > li
    {
        float: left;
        border-right: 1px solid #409f75;
        border-left: 1px solid #3b926c;
        
        & > a
        {
            color: white;
            line-height: 97px;
            height: 97px;
            position: relative;
            z-index: 101;
            padding: 0 30px;
            font-size: 0;
            
            &:hover
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
            }
            &:before
            {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
            &:after
            {
                content: "";
                display: block;
                position: absolute;
                bottom: 9px;
                left: 50%;
                height: 9px;
                width: 11px;
                margin-left: -5px;
                background: url(../img/arrow-down.svg) no-repeat bottom center;
                transition: transform 0.5s, -webkit-transform 0.5s;
            }
        }
        &.carts
        {
            & > a:before
            {
                content: url(../img/menu-carts.svg);
            }
            & > ul:before
            {
                content: url(../img/menu-bg-carts.png);
            }
        }
        &.parts
        {
            & > a:before
            {
                content: url(../img/menu-parts.svg);
            }
            & > ul:before
            {
                content: url(../img/menu-bg-parts.png);
            }
        }
        &.rentals > a:before
        {
            content: url(../img/menu-rentals.svg);
        }
        
        & > ul
        {
            position: absolute;
            top: 100%;
            left: 0;
            width: 80%;
            padding: 40px 10%;
            opacity: 0;
            background: linear-gradient(to right, #068e57, #60a986, #068e57);
            box-shadow: 0 3px 3px rgba(0,0,0,0.3), 0 3px 3px rgba(0,0,0,0.2) inset;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-shadow: -1px 2px 1px rgba(0,0,0,0.2);
            overflow: hidden;
            z-index: -1;
            margin-top: -40px;
            transition: all 0.3s;
            
            &:before
            {
                display: block;
                float: right;
            }
            &:after
            {
                content: url(../img/menu-bg.png);
                position: absolute;
                bottom: -1px;
                right: 0;
                z-index: -1;
            }
            
            li
            {
                float: left;
                width: 23%;
                max-width: 200px;
                margin: 0 2% 1em 0;
                
                a
                {
                    height: 2em;
                }
            }
            
            & > .expanded
            {
                width: auto;
                float: none;
                margin: 0;
                max-width: none;
                
                & > a
                {
                    font-size: 1.5em;
                    height: auto;
                }
            }
            
            ul
            {
                overflow: hidden;
                padding: 15px 0;
                position: relative;
                
                &:after
                {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(to right, rgba(16,144,92,0.1), rgba(16,144,92,1), rgba(16,144,92,0.1));
                }
            }
        }
        
        &.open
        {
            & > a
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
                
                &:after
                {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
            & > ul
            {
                opacity: 0.96;
                z-index: 100;
                margin-top: 0;
                display: block;
            }
        }
        &.first
        {
            border-left: 0;
        }
        &.last
        {
            border-right: 0;
        }
    }
}


.main-wrapper
{
    clear: both;
}

.footer
{
    clear: both;
    margin-top: 20px;
    background: linear-gradient(to right, #068f58, #62a984);
    color: white;
    position: relative;
    
    &:before
    {
        content: "";
        display: block;
        width: 100%;
        height: 116px;
        background: url(../img/footer-top.png) no-repeat center top;
        background-size: 100% 100%;
    }
    
    & > div
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        
        & > div
        {
            padding: 20px;
        }
    }
    
    a
    {
        color: white;
    }
}
#block-menu-menu-footer-menu .content
{
    float: left;
    text-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
        margin: 0 30px 10px 0;
        padding: 0;
        float: left;
    }
    .col1
    {
        width: 160px;
        clear: left;
    }
    .col2
    {
        width: 192px;
    }
    .col3
    {
        width: 168px;
    }
    a
    {
        @include aaronbold;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 30px;
        height: 30px;
        padding-left: 24px;
        margin-left: -24px;
        position: relative;
        
        &:hover, &:focus
        {
            background: linear-gradient(to bottom, #068e57, #02794a);
            box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
            
            &:before
            {
                content: "";
                display: block;
                position: absolute;
                left: 8px;
                top: 50%;
                background: url(../img/arrow-down.svg) no-repeat center center;
                width: 11px;
                height: 9px;
                margin-top: -5px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }
}
.block.footer-info
{
    text-align: right;
    font-size: 0.9em;
    line-height: 1.2;
    position: relative;
    top: -50px;
    overflow: hidden;
    
    a.phone
    {
        font-size: 0;
        display: inline-block;
        height: 30px;
        width: 194px;
        background: url(../img/phone-number.svg) no-repeat top right;
    }
}

body.path-rentals
{
    .page-title
    {
        display: none;
    }
}
#block-menu-menu-rental-categories,
#edit-field-feature-category-tid-wrapper
{
    overflow: hidden;
    
    & > h2,
    & > label
    {
        @include aaronbold();
        float: left;
        color: $green;
        font-weight: normal;
        font-size: 1.5em;
        
        &:after
        {
            content: "-";
            padding-left: 8px;
        }
        
        a
        {
            color: $green;
            text-decoration: none;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    & > label:after
    {
        padding: 0 8px 0 0;
    }
    .content,
    .views-widget
    {
        @include aaronbold();
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li,
        .form-type-bef-link
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            
            &.first.active-trail
            {
                margin-left: 8px;
            }
        }
        a
        {
            color: $green;
            text-decoration: none;
            line-height: 16px;
            padding: 8px 12px;
            display: block;
            vertical-align: bottom;
            
            &:hover
            {
                text-decoration: underline;
            }
            &.active
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
                color: white;
            }
        }
    }
}

.related-items-container
{
    clear: both;
    overflow: hidden;
    
    &:before
    {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
    }
    &:after
    {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
    }
    
    h2
    {
        @include aaronbold();
        font-weight: normal;
        color: $green;
        font-size: 1.25em;
        padding-left: 16px;
    }
}

.views-exposed-form .views-exposed-widget
{
    float: none;
    padding: 0;
}

body.path-about .main-wrapper > div
{
    background: url(../img/logo.svg) no-repeat 20px 20px;
    background-size: 310px auto;
    
    & > div
    {
        margin-left: 350px;
        border-left: 1px solid #f1f1f1;
        padding-left: 40px;
        min-height: 125px;
    }
}

.block.cart-quote
{
    display: none;
    overflow: hidden;
    clear: both;
    
    h2
    {
        display: none;
    }
    
    &:before
    {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        margin-top: -30px;
        background: linear-gradient(to bottom, #068e57, #02794a);
        box-shadow: 0 -3px 4px rgba(0,0,0,0.2);
    }
    
    .content
    {
        position: relative;
        z-index: 1;
    }
    
    fieldset
    {
        border: 0;
        padding: 0;
        float: left;
        margin-bottom: 0;
        margin-right: 30px;
    }
    label
    {
        @include aaronbold();
        font-weight: normal;
        font-size: 0.9em;
        padding-bottom: 4px;
        text-shadow: -1px 2px 3px rgba(0,0,0,0.2);
    }
    .form-required
    {
        display: none;
    }
    textarea,
    input
    {
        width: 230px;
        box-sizing: content-box;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5) inset;
        border: 0;
        font-size: 0.9em;
        
    }
    textarea
    {
        height: 85px;
        padding: 10px;
        resize: none;
    }
    input
    {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
    .form-item
    {
        margin-top: 0;
    }
    .form-actions input
    {
        @include aaronbold();
        display: block;
        color: white;
        background: $green;
        background: linear-gradient(to bottom, #068e57, #02794a);
        border: 0;
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.9em;
        cursor: pointer;
        text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
        box-shadow: -1px 1px 2px rgba(0,91,55,0.5);
        border-radius: 2px;
    }
}

body.path-contact .main-wrapper
{
    color: $green;
    
    .page-title
    {
        display: none;
    }
    
    .left
    {
        float: left;
    }
    .right
    {
        text-align: right;
    }
    
    hr
    {
        clear: both;
    }
    
    a
    {
        color: $green;
    }
    a.phone
    {
        font-size: 0;
        display: inline-block;
        height: 30px;
        width: 194px;
        background: url(../img/phone-number.svg) no-repeat top right;
    }
}
