body
{
    font-size: 16px;
    line-height: 1;
}

p
{
    margin-bottom: 0.8em;
    
    &:last-child
    {
        margin-bottom: 0;
    }
}

.navigation
{
    position: relative;
    height: 156px;
    
    &:after
    {
        content :"";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 97px;
        z-index: 0;
        background: $green;
        background: linear-gradient(to bottom, #269868, #068e57);
        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.3), 0 0px 3px rgba(0,0,0,0.05) inset;
    }
    
    & > div
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        
        & > div
        {
            padding: 0 20px;
        }
    }
}

.logo
{
    float: left;
    display: block;
    padding: 11px 0;
    position: relative;
    z-index: 1;
    margin-right: 32px;
}

#block-menu-menu-top-menu
{
    @include aaronbold();
    float: right;
    
    ul.menu
    {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
        }
        a
        {
            display: block;
            line-height: 59px;
            padding: 0 13px;
            text-decoration: none;
            color: $green;
            font-size: 0.9em;
            border-color: #f1f1f1;
            border-style: solid;
            border-width: 0 1px;
            margin-right: -1px;
            
            &:hover, &:focus
            {
                color: white;
                background-color: #02794a;
                text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
            }
            
            &.fb,
            &.cart
            {
                font-size: 0;
                height: 59px;
                width: 28px;
                
                background-repeat: no-repeat;
                background-position: center center;
                
                &:before
                {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -999999px;
                }
            }
            &.cart
            {
                background-image: url(../img/cart.svg);
                
                &:hover, &:focus, &:before
                {
                    background-image: url(../img/cart-white.svg);
                }
            }
            &.fb
            {
                background-image: url(../img/fb.svg);
                
                &:hover, &:focus, &:before
                {
                    background-image: url(../img/fb-white.svg);
                }
            }
        }
    }
}

#block-system-main-menu
{
    .content
    {
        @include aaronbold();
        clear: right;
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            
            
            ul
            {
                position: absolute;
                top: 100%;
                left: 0;
                width: 80%;
                padding: 40px 10%;
                opacity: 0;
                background: linear-gradient(to right, #068e57, #60a986, #068e57);
                box-shadow: 0 3px 3px rgba(0,0,0,0.3), 0 3px 3px rgba(0,0,0,0.2) inset;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                text-shadow: -1px 2px 1px rgba(0,0,0,0.2);
                overflow: hidden;
                z-index: -1;
                margin-top: -40px;
                transition: all 0.3s;
                
                &:before
                {
                    display: block;
                    float: right;
                }
                &:after
                {
                    content: url(../img/menu-bg.png);
                    position: absolute;
                    bottom: -1px;
                    right: 0;
                    z-index: -1;
                }
                
                a
                {
                    color: white;
                    text-decoration: none;
                    
                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
        }
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
        }
        a
        {
            display: block;
        }
    }
    
    
    .content > ul > li
    {
        & > a
        {
            color: white;
            line-height: 97px;
            height: 97px;
            position: relative;
            z-index: 101;
            padding: 0 32px;
            border-right: 1px solid #409f75;
            border-left: 1px solid #3b926c;
            font-size: 0;
            
            &:hover
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
            }
            &:before
            {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
            &:after
            {
                content: "";
                display: block;
                position: absolute;
                bottom: 9px;
                left: 50%;
                height: 9px;
                width: 11px;
                margin-left: -5px;
                background: url(../img/arrow-down.svg) no-repeat bottom center;
                transition: transform 0.5s;
            }
        }
        &.carts
        {
            & > a:before
            {
                content: url(../img/menu-carts.svg);
            }
            ul:before
            {
                content: url(../img/menu-bg-carts.png);
            }
        }
        &.parts
        {
            & > a:before
            {
                content: url(../img/menu-parts.svg);
            }
            ul:before
            {
                content: url(../img/menu-bg-parts.png);
            }
        }
        &.rentals > a:before
        {
            content: url(../img/menu-rentals.svg);
        }
        &.open
        {
            & > a
            {
                background: linear-gradient(to bottom, #068e57, #02794a);
                
                &:after
                {
                    transform: rotate(180deg);
                }
            }
            ul
            {
                opacity: 0.95;
                z-index: 100;
                margin-top: 0;
                display: block;
            }
        }
        &.first > a
        {
            border-left: 0;
        }
        &.last > a
        {
            border-right: 0;
        }
    }
}


.main-wrapper
{
    clear: both;
}

.footer
{
    clear: both;
    margin-top: 40px;
    background: linear-gradient(to right, #068f58, #62a984);
    color: white;
    
    &:before
    {
        content: "";
        display: block;
        width: 100%;
        height: 116px;
        background: url(../img/footer-top.png) no-repeat center top;
        background-size: 100% 116px;
    }
    
    & > div
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        
        & > div
        {
            padding: 20px;
        }
    }
    
    a
    {
        color: white;
    }
}
#block-menu-menu-footer-menu .content
{
    float: left;
    text-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
        margin: 0 30px 10px 0;
        padding: 0;
        float: left;
    }
    .col1
    {
        width: 155px;
        clear: left;
    }
    .col2
    {
        width: 215px;
    }
    .col3
    {
        width: 160px;
    }
    a
    {
        @include aaronbold;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 30px;
        height: 30px;
        padding-left: 24px;
        margin-left: -24px;
        position: relative;
        
        &:hover, &:focus
        {
            background: linear-gradient(to bottom, #068e57, #02794a);
            box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
            
            &:before
            {
                content: "";
                display: block;
                position: absolute;
                left: 8px;
                top: 10px;
                background: url(../img/arrow-down.svg) no-repeat center center;
                width: 11px;
                height: 9px;
                transform: rotate(-90deg);
            }
        }
    }
}
.block.footer-info
{
    text-align: right;
    font-size: 0.9em;
    line-height: 1.2;
    position: relative;
    top: -50px;
    overflow: hidden;
    
    a.phone
    {
        font-size: 0;
        display: inline-block;
        height: 30px;
        width: 194px;
        background: url(../img/phone-number.svg) no-repeat top right;
    }
}