.logo
{
    padding: 13px 0;
    
    img
    {
        height: 100px;
        width: auto;
        display: block;
    }
}
.navigation
{
    height: 126px;
    
    &:after
    {
        height: 77px;
    }
}
#block-menu-menu-top-menu ul.menu
{
    .cart,
    .fb
    {
        a
        {
            height: 49px;
        }
    }
    a
    {
        line-height: 49px;
        padding: 0 10px;
    }
}
#block-system-main-menu .content
{
    padding-top: 49px;
    
    & > ul > li
    {
        & > a
        {
            height: 77px;
            
            &:before
            {
                background-size: auto 30px;
            }
            &:after
            {
                bottom: 6px;
            }
        }
        &.rentals > a
        {
            width: 180px;
        }
        
        & > ul:before
        {
            display: none;
        }
    }
}

#block-menu-menu-footer-menu .content
{
    ul
    {
        width: 450px;
        margin-left: 10%;
    }
    .col1,
    .col2,
    .col3
    {
        clear: none;
        width: 192px;
    }
}

.view-rental-detail
{
    position: relative;
    
    .views-field-field-photos-1
    {
        width: 415px;
        padding-right: 0;
        position: relative;
        z-index: 1;
        
        .slick-list,
        .slick-track
        {
            height: auto !important;
        }
        
        li
        {
            float: left;
            width: auto !important;
            margin-right: 3px;
        }
    }
    .views-field-title,
    .views-field-field-price,
    .views-field-body,
    .views-field-nothing
    {
        padding-left: 431px;
    }
}
