.navigation
{
    height: 167px;
    
    &:after
    {
        top: 87px;
        height: 80px;
    }
}
.logo
{
    top: 35px;
}

.footer:before
{
    height: 60px;
}
#block-menu-menu-footer-menu .content
{
    li
    {
        text-align: center;
        float: none;
        margin: 0;
        border-right: 0;
    }
    a
    {
        display: block;
        padding: 4px 0;
    }
}

.block-menu.menu-terms,
#edit-field-feature-category-tid-wrapper
{
    & > h2,
    & > label
    {
        font-size: 1.3em;
        
        &:after
        {
            display: none;
        }
    }
    .content,
    .views-widget
    {
        li,
        .form-type-bef-link
        {
            clear: left;
            margin: 0;
        }
        li.first.active-trail
        {
            margin-left: 0;
        }
    }
}

.view-listings .views-row
{
    float: none;
    margin-left: auto !important;
    margin-right: auto;
}

.block.cart-quote
{
    width: 250px;
    margin: 0 auto;
    
    fieldset
    {
        float: none;
        margin-right: 0;
    }
}

.view-header-images .view-content:after
{
    height: 16px;
}

.view-rental-detail .views-field-field-photos
{
    width: 100%;
}

.webform-client-form-18
{
  .form-item
  {
    width: auto;
    float: none;
    
    &:nth-child(2n+1)
    {
      margin-right: 0;
    }
  }
}
