.block.cart-quote
{
    margin-top: 50px;
}

.navigation .search-form
{
  right: 50px;
  max-width: 415px;
  
  .form-type-textfield input,
  input[type=submit]
  {
    height: 49px;
    line-height: 49px;
  }
}
