.logo
{
    margin-right: 10px;
}
#block-system-main-menu
{
    .content > ul
    {
        overflow: hidden;
        
        & > li
        {
            width: 30%;
            
            & > a
            {
                width: 100%;
                padding: 0;
                position: relative;
                
                &:before
                {
                    content: "" !important;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 24px;
                    right: 24px;
                    height: auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 36px
                }
            }
            &.carts > a:before
            {
                background-image: url(../img/menu-carts.svg);
            }
            &.parts > a:before
            {
                background-image: url(../img/menu-parts.svg);
            }
            &.rentals > a
            {
                width: 220px;
                
                &:before
                {
                    background-image: url(../img/menu-rentals.svg);
                }
            }
            
            & > ul
            {
                width: auto;
                left: 0;
                right: 0;
                padding: 30px 20px;
                
                &:before
                {
                    margin: 0;
                }
            }
        }
    }
}
