.cart
{
    .table
    {
        display: table;
        width: 100%;
    }
    .tr
    {
        display: table-row;
    }
    .td
    {
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
    }
    .th
    {
        @include aaronbold();
        color: $green;
        font-size: 0.9em;
    }
    .thead
    {
        display: table-header-group;
    }
    .tbody
    {
        display: table-row-group;
    }
    
    .qty
    {
        width: 135px;
        
        label
        {
            font-size: 0;
        }
    }
    .update
    {
        background: none;
        border: 0;
        text-decoration: underline;
        color: $green;
        text-transform: lowercase;
        font-size: 0.9em;
        padding: 4px 5px;
    }
    .remove a
    {
        color: $green;
        font-size: 0.9em;
        padding: 4px 5px;
        display: inline-block;
        text-transform: lowercase;
    }
    .empty
    {
        font-size: 0;
    }
    .item a,
    {
        color: $green;
    }
    .checkout-buttons
    {
        padding: 5px 0;
        label
        {
            vertical-align: top;
        }
        textarea
        {
            height: 40px;
            width: 250px;
        }
    }
    .checkout
    {
        @include aaronbold();
        color: white;
        background: $green;
        background: linear-gradient(to bottom, #068e57, #02794a);
        border: 0;
        display: inline-block;
        padding: 5px 11px;
        font-size: 0.9em;
        cursor: pointer;
        text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
        box-shadow: -1px 1px 2px rgba(0,91,55,0.4);
        border-radius: 2px;
    }
}
