.view-header-images
{
    .views-row
    {
        img
        {
            width: 100%;
            height: auto;
        }
    }
    
    .slick-dots
    {
        list-style: none;
        text-align: center;
        font-size: 0;
        margin: 38px 0 30px 0;
        
        li
        {
            display: inline-block;
            margin: 0 7px;
            vertical-align: top;
            
            &.slick-active button
            {
                background: $green;
            }
        }
        button
        {
            font-size: 0;
            border: 0;
            background: #cbcbcb;
            border-radius: 4px;
            width: 16px;
            height: 16px;
            padding: 0;
            -webkit-appearance: none;
            cursor: pointer;
            box-shadow: none;
            transition: all 0.2s;
        }
    }
}

.view-listings
{
    position: relative;
    padding-top: 16px;
    
    .view-content
    {
      position: relative;
      border-top: 1px solid #b2b2b2;
    }
    
    .view-empty
    {
        padding-top: 1em;
    }
    
    .views-row
    {
        float: left;
        width: 260px;
        margin: 10px 20px 20px 0;
        
        a
        {
            color: black;
            text-decoration: none;
            
            &:hover
            {
              text-decoration: underline;
            }
        }
    }
    .views-field-field-photos
    {
        position: relative;
        display: block;
        width: 260px;
        height: 210px;
        line-height: 210px;
        text-align: center;
        font-size: 0;
        overflow: hidden;
        margin-bottom: 4px;
        
        img
        {
            vertical-align: middle;
            width: 100%;
            height: auto;
        }
    }
    .views-field-field-price
    {
        position: relative;
        z-index: 1;
        text-align: center;
        font-weight: bold;
    }
    .views-field-title
    {
        position: relative;
        z-index: 1;
        height: 35px;
        font-weight: bold;
        font-size: 0.95em;
        line-height: 1;
        padding-top: 0.5em;
    }
    .view-footer
    {
        clear: both;
        padding-top: 50px;
        border-top: 1px solid #b2b2b2;

        .previous-button
        {
            float: left;
        }
        .next-button
        {
            float: right;
        }
    }
}
.view-carts.view-display-id-page_sold
{
  .views-field-field-photos:before
  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 88px;
    background: url(../img/sold.png) no-repeat bottom right;
    background-size: contain;
  }
}

.view-rental-detail
{
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    
    .views-field-field-photos
    {
        float: left;
        margin: 0 15px 30px 0;
        width: 400px;
        padding: 0 15px 0 0;
        border-right: 1px solid #f1f1f1;
        overflow: hidden;
        position: relative;

        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 400px;
            height: 400px;
            position: relative;
            z-index: 0;
        }
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 400px;
            height: 400px;
            line-height: 400px;
            text-align: center;
            background: white;
            display: inline-block;
            
            img
            {
                vertical-align: middle;
                display: inline-block;
                width: 100%;
                height: auto;
            }
        }
        .cover
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        .click-to-zoom
        {
            background: rgba(0,0,0,0.6);
            color: white;
            text-align: center;
            font-size: 0.9em;
            line-height: 2;
            cursor: default;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .views-field-field-photos-1
    {
        float: left;
        width: 110px;
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li
        {
            list-style: none;
            margin: 0 0 3px 0;
            padding: 0;
            width: 110px;
            height: 75px;
            overflow: hidden;
            
            &.last
            {
                margin-bottom: 0;
            }
        }
        img
        {
            display: block;
            cursor: pointer;
        }
    }
    .views-field-nothing
    {
        overflow: hidden;
        padding-left: 25px;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .views-field-title h1
    {
        font-family: inherit;
        color: black;
        font-weight: bold;
        font-size: 36px;
        line-height: 1;
    }
    .views-field-field-prices,
    .views-field-field-price
    {
        color: black;
        font-size: 22px;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 12px;
        
        .field-content
        {
          display: inline;
        }
    }
    .call
    {
        padding-bottom: 10px;
        margin-top: 20px;
    }
    .slick-list
    {
        outline: 0;
    }
    form.add-to-cart
    {
        padding-top: 1em;
        padding-bottom: 0.5em;
        
        button
        {
            @include aaronbold();
            color: white;
            background: $green;
            background: linear-gradient(to bottom, #068e57, #02794a);
            border: 0;
            display: inline-block;
            padding: 5px 11px;
            font-size: 0.9em;
            cursor: pointer;
            text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
            box-shadow: -1px 1px 2px rgba(0,91,55,0.4);
            border-radius: 2px;
            
            &:after
            {
                content: "";
                display: inline-block;
                width: 25px;
                height: 20px;
                background: url(../img/cart-white.svg) no-repeat;
                vertical-align: top;
                margin-top: 1px;
                margin-left: 15px;
            }
        }
    }
    .collapsible-field
    {
        h2
        {
            padding: 0;
            margin: 0;

            a
            {
                display: block;
                padding: 0 40px 0 20px;
                text-decoration: none;
                color: black;
                font-size: 22px;
                height: 60px;
                line-height: 58px;
                border-top: 1px solid #b2b2b2;
                border-bottom: 1px solid #b2b2b2;
                margin-bottom: -1px;
                background: url(../img/icon-collapsible-expand.svg) no-repeat right center;
                background-position: calc(100% - 10px) center;
            }
        }
        .content
        {
            font-size: 19px;
            display: none;
            padding: 20px 30px;
        }
        &.open
        {
            h2 a
            {
                background-image: url(../img/icon-collapsible-collapse.svg);
            }
            .content
            {
                display: block;
            }
        }
    }
    .views-field-field-cart-category
    {
        margin-top: 40px;
        clear: both;

        .green-button
        {
            padding-left: 40px;
            position: relative;

            &:before
            {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                background-image: url(../img/icon-back-button.svg);
                background-repeat: no-repeat;
                background-position: 20px center;
                background-size: 8px auto;
            }
        }
    }
}

.view-related-items,
.view-recently-read
{
    padding-top: 8px;
    overflow: hidden;
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li
        {
            list-style: none;
            margin: 0 12px 24px 12px;
            padding: 0;
            display: inline-block;
        }
    }
    a
    {
        display: block;
        font-size: 0;
    }
    img
    {
        border: 3px solid #d9eee7;
    }
}

.view-features
{
    .view-filters
    {
        .description
        {
            display: none;
        }
    }
    .view-content
    {
        position: relative;
        
        &:before
        {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 15px 0;
            background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
        }
        &:after
        {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin-top: 15px;
            background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
        }
    }
    
    .views-row
    {
        float: left;
        margin: 8px;
        position: relative;
        width: 304px;
        
        &:hover
        {
            .details
            {
                display: block;
            }
        }
        
        a
        {
            text-decoration: none;
            color: white;
        }
    }
    .field-image
    {
        border: 2px solid #d9eee7;
        
        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .details
    {
        display: none;
        position: absolute;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background-color: rgba(6,142,87,0.4);
        background-image: url(../img/feature-detail-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 20px 12px;
        z-index: 2;
    }
    .field-title
    {
        @include aaronbold();
        font-size: 1.25em;
        line-height: 1;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
        margin-bottom: 8px;
    }
    .field-body
    {
        font-weight: bold;
    }
    .ajax-progress
    {
        display: none;
    }
    .slick-prev,
    .slick-next
    {
        border: 0;
        background: transparent url(../img/arrow-left.svg) no-repeat center center;
        cursor: pointer;
        -webkit-appearance: none;
        position: absolute;
        height: 39px;
        width: 32px;
        display: block;
        top: 50%;
        margin-top: -20px;
        padding: 0;
        font-size: 0;
        box-shadow: none;
        -webkit-filter: drop-shadow(-1px 2px 2px rgba(0,91,55,0.6));
        filter: drop-shadow(-1px 2px 2px rgba(0,91,55,0.6));
    }
    .slick-prev
    {
        left: -30px;
    }
    .slick-next
    {
        right: -30px;
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}


.view-event-galleries
{
    .view-content
    {
        margin: 0 -12px;
    }
    .views-row
    {
        width: 220px;
        float: left;
        margin: 0 12px 25px 12px;
        position: relative;
        
        a
        {
            text-decoration: none;
            color: white;
        }
    }
    img
    {
        display: block;
    }
    .views-field-title
    {
        @include aaronbold();
        background: url(../img/product-listing-hover.png) no-repeat bottom center;
        text-align: center;
        padding: 40px 10px 10px 10px;
        min-height: 36px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-shadow: -2px 3px 4px rgba(0,0,0,0.2);
    }
}