.view-header-images
{
    .views-row
    {
        img
        {
            width: 100%;
            height: auto;
        }
    }
    
    .slick-dots
    {
        position: absolute;
        z-index: 3;
        bottom: 40px;
        right: 10%;
        list-style: none;
        
        li
        {
            float: left;
            margin-left: 7px;
            
            &.slick-active button
            {
                border-color: $green;
            }
        }
        button
        {
            font-size: 0;
            border: 5px solid white;
            border-radius: 5px;
            width: 0;
            height: 0;
            -webkit-appearance: none;
            cursor: pointer;
            transition: all 0.2s;
        }
    }
    
    .view-content
    {
        &:after
        {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 56px;
            background: url(../img/header-bg.png) bottom center;
            background-size: 100% 100%;
            z-index: 2;
        }
    }
}

.view-rentals
{
    position: relative;
    margin-top: 16px;
    
    &:before
    {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, rgba(16,144,92,0), rgba(16,144,92,0.2) , rgba(16,144,92,1), rgba(16,144,92,0.2), rgba(16,144,92,0));
    }
    
    .view-empty
    {
        padding-top: 1em;
    }
    
    .views-row
    {
        @include aaronbold();
        float: left;
        width: 240px;
        color: $green;
        margin: 16px 0;
        border-left: 1px solid #f1f1f1;
        margin-left: -1px;
        
        &:nth-child(4n + 1)
        {
            border-left: 0;
            margin-left: 0;
            
            &:after
            {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                margin-top: 16px;
                background: linear-gradient(to right, rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
            }
        }
        
        & > div
        {
            position: relative;
            padding: 10px;
            
            &:hover
            {
                color: white;
                background-color: #ebebeb;
                
                a
                {
                    color: white;
                }
                
                &:after
                {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 92px;
                    background: url(../img/product-listing-hover.png) no-repeat bottom center;
                    z-index: 0;
                }
                
                .views-field-field-price
                {
                    text-shadow: -1px 2px 2px rgba(0,0,0,0.25);
                    
                    &:after
                    {
                        background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
                    }
                }
                
                .views-field-title
                {
                    text-shadow: -1px 1px 1px rgba(0,0,0,0.2);
                }
            }
        }
        
        a
        {
            color: $green;
            text-decoration: none;
        }
    }
    .views-field-field-image a
    {
        display: block;
        width: 212px;
        height: 180px;
        line-height: 180px;
        text-align: center;
        font-size: 0;
        overflow: hidden;
        
        img
        {
            vertical-align: middle;
            max-width: 212px;
            height: auto;
        }
    }
    .views-field-field-price
    {
        position: relative;
        z-index: 1;
        text-align: center;
        text-shadow: -1px 2px 2px rgba(16,144,92,0.3);
        
        &:after
        {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 3px 0;
            background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
        }
    }
    .views-field-title
    {
        position: relative;
        z-index: 1;
        font-size: 0.85em;
    }
}


.view-rental-detail
{
    overflow: hidden;
    
    &:before
    {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
    }
    
    .views-field-field-photos
    {
        float: left;
        margin-right: 15px;
        width: 400px;
        padding: 0 15px 0 0;
        border-right: 1px solid #f1f1f1;
        overflow: hidden;
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 400px;
            height: 400px;
            position: relative;
            z-index: 0;
        }
        li
        {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 400px;
            height: 400px;
            line-height: 400px;
            text-align: center;
            background: white;
            display: inline-block;
            
            img
            {
                vertical-align: middle;
                display: inline-block;
                width: 100%;
                height: auto;
            }
        }
    }
    .views-field-field-photos-1
    {
        float: left;
        width: 110px;
        padding-right: 15px;
        border-right: 1px solid #f1f1f1;
        margin-right: 15px;
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li
        {
            list-style: none;
            margin: 0 0 3px 0;
            padding: 0;
            width: 110px;
            height: 75px;
            overflow: hidden;
            
            &.last
            {
                margin-bottom: 0;
            }
        }
        img
        {
            display: block;
            cursor: pointer;
        }
    }
    .views-field-title h1
    {
        @include aaronbold();
        color: $green;
        font-weight: normal;
        font-size: 1.5em;
    }
    .views-field-field-price
    {
        @include aaronbold();
        color: $green;
        font-size: 1em;
        padding-top: 8px;
        padding-bottom: 12px;
    }
    .views-field-body
    {
        color: $green;
        
        h2
        {
            font-size: 1.3em;
        }
    }
    .views-field-title,
    .views-field-field-price,
    .views-field-body,
    .views-field-nothing
    {
        padding-left: 572px;
    }
    .call
    {
        @include aaronbold();
        color: $green;
        padding-top: 1.2em;
        font-size: 1.2em;
        
        a
        {
            color: $green;
            text-decoration: none;
            white-space: nowrap;
        }
    }
    .slick-list
    {
        outline: 0;
    }
    form.add-to-cart
    {
        padding-top: 1em;
        padding-bottom: 0.5em;
        
        button
        {
            @include aaronbold();
            color: white;
            background: $green;
            background: linear-gradient(to bottom, #068e57, #02794a);
            border: 0;
            display: inline-block;
            padding: 5px 11px;
            font-size: 0.9em;
            cursor: pointer;
            text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
            box-shadow: -1px 1px 2px rgba(0,91,55,0.4);
            border-radius: 2px;
            
            &:after
            {
                content: "";
                display: inline-block;
                width: 25px;
                height: 20px;
                background: url(../img/cart-white.svg) no-repeat;
                vertical-align: top;
                margin-top: 1px;
                margin-left: 15px;
            }
        }
    }
}

.view-related-items
{
    padding-top: 8px;
    overflow: hidden;
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li
        {
            list-style: none;
            margin: 0 16px;
            padding: 0;
            float: left;
        }
    }
    img
    {
        border: 3px solid #d9eee7;
    }
}

.view-features
{
    .view-filters
    {
        .description
        {
            display: none;
        }
    }
    .view-content
    {
        position: relative;
        
        &:before
        {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 15px 0;
            background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
        }
        &:after
        {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin-top: 15px;
            background: linear-gradient(to right,  rgba(16,144,92,0), rgba(16,144,92,1), rgba(16,144,92,0));
        }
    }
    
    .views-row
    {
        float: left;
        margin: 8px;
        position: relative;
        width: 304px;
        
        &:hover
        {
            .details
            {
                display: block;
            }
        }
        
        a
        {
            text-decoration: none;
            color: white;
            
            &:after
            {
                content: "";
                position: absolute;
                bottom: 2px;
                left: 2px;
                right: 2px;
                height: 32px;
                background-repeat: no-repeat;
                z-index: 1;
            }
        }
        &.mod3-0 a:after
        {
            background-image: url(../img/feature-bg1.png);
        }
        &.mod3-1 a:after
        {
            background-image: url(../img/feature-bg2.png);
        }
        &.mod3-2 a:after
        {
            background-image: url(../img/feature-bg3.png);
        }
    }
    .field-image
    {
        border: 2px solid #d9eee7;
        
        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .details
    {
        display: none;
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 12px;
        background-color: rgba(6,142,87,0.4);
        background-image: url(../img/feature-detail-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        padding: 20px 12px;
        z-index: 2;
    }
    .field-title
    {
        @include aaronbold();
        font-size: 1.25em;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
        margin-bottom: 8px;
    }
    .field-body
    {
        font-weight: bold;
    }
    .ajax-progress
    {
        display: none;
    }
    .slick-prev,
    .slick-next
    {
        border: 0;
        background: transparent url(../img/arrow-left.svg) no-repeat center center;
        cursor: pointer;
        -webkit-appearance: none;
        position: absolute;
        height: 39px;
        width: 32px;
        display: block;
        top: 50%;
        margin-top: -20px;
        font-size: 0;
        -webkit-filter: drop-shadow(-1px 2px 2px rgba(0,91,55,0.6));
        filter: drop-shadow(-1px 2px 2px rgba(0,91,55,0.6));
    }
    .slick-prev
    {
        left: -30px;
    }
    .slick-next
    {
        right: -30px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}
